@import "../../styles/theme.scss";

.StatusBar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: $status-bar-height;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: $font-size;
  line-height: $status-bar-height;
  background-color: $gutter-color;
  border: 1px solid $border-color;
  list-style: none;

  .Widget {
    float: right;
    margin-left: 15px;
    display: flex;
    align-items:center;
    line-height: $status-bar-height;

    img {
      width: $status-bar-height;
      height: $status-bar-height;
    }

    .Label {
      font-size: 12px;
    }
  }

  .Copyleft {
    a, a:hover, a:active, a:visited {
      color: #1B1B1B;
      text-decoration: none;
    }

    .Symbol {
      display: inline-block;
      padding: 0 5px;
      line-height: 13px;
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }

    span {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
