// widths
$tool-window-width:      350px;
$tool-window-bar-width:  20px;
$editor-gutter-width:    40px;

// heights
$menu-bar-height:        25px;
$navigation-bar-height:  20px;
$status-bar-height:      20px;
$action-bar-height:      25px;

// color
$gutter-color:           #EFEFEF;
$border-color:           #CCCCCC;
$highlighted-color:      #AFAFAF;
$hover-color:            #CFCFCF;
$dimmed-text-color:      #BBBBBB;
$active-line-color:      #005FB8;
$semi-active-line-color: #CBCBCB;

$close-button-color:     #FF0000;
$minimize-button-color:  #FEB325;
$maximize-button-color:  #30C030;
$disabled-button-color:  #B3B1B3;

// extra
$font-size:              14px;
$line-height:            25px;
$default-border:         1px solid $border-color;
$file-tree-indentation:  20px;
